body{
    background: #efefef;
    h1{
        color: #999;
        transition: all 1s ease;
        &:hover{
            color: #000;
        }
    }
}








$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

body{
    @include tablet {
        color: burlywood;
    }

    @include desktop {
        color: turquoise;
    }
}