@font-face {
 font-family: "scriptina";
 src: url("../fonts/scriptina.ttf") format("truetype");
}

//Mes Variables
$couleurPrincipale:red;
$couleurSecondaire:purple;
$cp:$couleurPrincipale;
$cs:$couleurSecondaire;
//Placeholders
%message{
    padding: .5em;
    border:1px solid;
    border-radius:5px;
    font-weight: bold;
    margin:20px;
    text-align: center;
}
//MIXINs
@mixin br($radius:5px,$border:#000,$fond:#aaa,$size:1em){
    border-radius:$radius;
    border:1px solid $border;
    color: $border;
    background-color: $fond;
    margin:20px;
    padding:20px;
    font-size:$size;
}

button{
    @include br(120 px,yellow,purple,10em);
}



header{
    nav{
        li{
            a{
/*                color: $cp;
                transition: all ease 1s;
                text-decoration: none;
                &:hover{
                    color:$cs;
                    font-size:1.2em;
                }*/
            }
        }
    }
}


.message-error{
    @extend %message;
    color:red;
    border-color:red;
}
.message-valid{
    @extend %message;
    color:green;
    border-color:green;
}
.message-warning{
    @extend %message;
    color:orange;
    border-color:orange;
}
.message-info{
    @extend %message;
    color:blue;
    border-color:blue;
}

.maquette{
    #actions{
        i{
            font-size: 10em;
        }
    }
}

.bakery{
    header#top{
        background: url('../images/header-bg.jpg') center top;
        background-size: cover;
        position:relative;
        &:after{
            content:url('../images/bullets.png');
            display: block;
            position: absolute;
/*            bottom: -120px;*/
            left: 50%;
            transform: translateX(-50%);
            z-index: 100;
        }
        nav{
            ul:not(.socialmedia){
                li{
                    padding: 0 25px;
/*                    &:after{
                        content:"~";
                    }*/
                    a{
                        text-transform: uppercase;
                        color:#fff; 
                    }
                }
            }
        }
        article{
            %styleheader{
                color:#fff;
            }
            h1{
                @extend %styleheader;
                font-size: 4rem;
                &:after{
                    content: url("../images/dashed-line.png");
                    display: block;
                } 
            }
            h2{
                @extend %styleheader;
                font-size: 1.8rem;
                padding: 0 300px;
                font-weight: 100;
            }
            .btn{
                text-transform: uppercase;
                border: none;
                border-radius:0;
                word-spacing: 1em;
                letter-spacing: .5em;
            }
            .btn-secondary{
                background-color: rgba(86,83,76,.5);
            }
        }
    }
    section#cakes{
        background: url('../images/cakes-bg.jpg') center top;
        background-size: cover;
        position:relative;
        article{
            figcaption{
                font-family: "scriptina";
                font-size: 2em;
                padding: 30px 60px;
                color:#A47D5E;
                background: url("../images/quote-left.png") top left no-repeat,url("../images/quote-right.png") bottom right no-repeat;
            }
        }
    }
}